# Dependências de node.js
node_modules/

# Amplify folder (pode conter arquivos gerados automaticamente)
amplify/

# Logs e temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build e cache
dist/
.build/
.cache/

# Diretórios e arquivos do sistema
.DS_Store
Thumbs.db

# Amplify configuration files
src/aws-exports.js
src/amplifyconfiguration.json

# Docker
docker-compose.override.yml
docker-compose.override.*.yml
.dockerignore

# Informações sensíveis (adapta se necessário)
.env

